.project-header{
    height: 95px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000011;
    border-radius: 5px;
    margin: 41px 0 26px 0;
    padding: 32px;
}

.project-header .project-title{
    float: left;
    font-size: 22px;
}

.project-header .time{
    overflow: hidden;
    float: right;
}
.time .offer span{
    color: #FF5851 !important;
}
.time .posted-time .since{
    color: #323232 !important;
}

.project-details{
    height: 452px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000011;
    border-radius: 5px;
    overflow: auto;
}

.header-with-arrow{
    padding: 27px;
}

.header-with-arrow .project-title{
    float: left;
    font-size: 18px;
    color: #323232;
    text-transform: capitalize;
}

.header-with-arrow img{
    float: right;
    cursor: pointer;
}

.project-details-desc{
    padding: 10px 350px 30px 67px;
}

.project-details-desc-info::after{
    content: "";
    height: 1px;
    display: block;
    background-color: #ECEBF3;
    margin: 25px 0;
}

.project-details-desc-info p{
    color: #323232;
}

.project-details-desc .category{
    margin-top: 10px;
}

.project-details-desc .category .keywords{
    margin-top: 10px;
}

/* .project-details .category{
    padding-left: 67px;
} */

.project-details .category .category-title{
    margin-bottom: 12px;
    display: block;
}

.offers{
    /* height: 810px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000011;
    border-radius: 5px;
    margin-top: 26px;
}

.offers .offer-item{
    padding: 30px 70px 50px 52px;
}

.card-item-header .img-container img{
    height: 58px !important;
    width: 58px !important;
}

.card-item-header .titles h3{
    font-size: 14px !important;
}

.card-item-header .titles{
    margin-top: 18px !important;
}

.card-item-header .titles span{
    margin-left: 10px !important;
    margin-top: 0px  !important;
}

.employe-desc{
    overflow: hidden;
}

.employe-desc-item{
    float: left;
    overflow: hidden;
    margin-right: 15px;
}

.employe-desc-item img{
    float: left;
    margin-top: 5px;
}
.employe-desc-item span{
    float: left;
}

.offer-item p{
    color: #767676;
    text-transform: capitalize;
    font-size: 13px;
    width: 664px;
    margin-top: 28px;
    margin-bottom: 0;
}
.stars span{
    font-size: 14px !important;
}
.stars{
    float: left;
}

.stars .number{
    color: #000000;
    margin-right: 6px;
    
}

.offer-item .location{
    float: left;
    margin-top: 23px;
    margin-left: 20px;
}

.location span{
    margin-left: 6px;
}

.offer-item .buttons{
    margin-top: 23px;
    float: right;
    /* width: 400px; */
}

.buttons .decline{
    width: 115px;
    height: 32px;
    background: #CECECE 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #323232;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    margin-right: 21px;
    font-size: 10px;
}

.buttons .chat{
    width: 115px;
    height: 32px;
    background: #FF5851 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 10px;
}


.offer-item::after{
    content: "";
    display: block;
    height: 1px;
    background-color: #ECEBF3;
    margin-top: 40px;
}


@media (max-width:991px){
    .project-header{
        height: 128px !important;
        margin: 25px 0 25px  !important;
        padding: 15px !important;
    }
    .project-header .project-title,
    .project-header .time{
        float: unset;
    }
    .desc{
        padding: 20px !important;
    }
    .category{
        padding-left: 20px !important;
    }

    .offers .offer-item{
        padding: 15px !important;
    }
    .offer-item p{
        width:100% !important;
    }
    .offer-item .buttons{
        float: none !important;
    }
    .card-item-header .titles{
        margin-top: 0 !important;
    }
    .card-item-header .titles h3{
        margin: 5px 0 !important;
    }
    .time .posted-time{
        margin-right: 20px !important;
    }

}

@media (max-width:1199px){
    .project-details{
        overflow: auto !important;
    }
}


/* data section  */

.data{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000011;
    border-radius: 5px;
    opacity: 1;
    padding-bottom: 50px;
}
.data .data-head{
    overflow: hidden;
    padding: 27px 47px 0 36px;
}
.head-title{
    float: left;
    font-size: 18px;
}
i{
    float: right;
}
.desc{
    padding-left: 67px;
    padding-right: 290px;
    margin-top: 25px;
}

.desc::after{
    content: "";
    display: block;
    height: 1px;
    background-color: #ECEBF3;
    margin: 25px 0;
}
.category{
    padding-left: 67px;
}

.category .title{
    margin-bottom: 12px;
    display: block;
}

@media (max-width:767px){
    .chat-large{
        display: none !important;
    }
}

@media (min-width:768px){
    .chat-mobile{
        display: none !important;
    }
}


