.chat{
    width: 1088px;
    height: 550px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -7.55px 7px 30px #F1F8FFB3;
    border-radius: 20px;
    opacity: 1;
    margin-top: 26px;
    display: flex;
}

.chat .employes{
    width: 370px;
    border-right: 1px solid #e2e1e1;
    /* padding: 15px; */
    height: 100%;
}

.chat .chat-area{
    /* width: 100%;
    position: relative; */
}

.chat-area p{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #323232;
    opacity: 0.6;
}

.employes .chat-item{
    height: 80px;
    /* background: #F9F9F9 0% 0% no-repeat padding-box; */
    opacity: 1;
    border-bottom: 1px solid #dad8d8;
}
.employes .chat-item:hover{
    background: #F9F9F9 ;
}

.employes .chat-item:first-of-type{
    margin-top: 20px;
}

.no-padding{
    padding-left: 0 !important;
}

.nav-pills .nav-link{
    border-radius: 0 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #F9F9F9 !important;
}

.card-item-header .img-container img {
    height: 40px !important;
    width: 40px !important;
}

.card-item-header .titles{
    margin-top: 0;
}
.titles span{
    color: #232323;
    opacity: 0.6;
}

.titles .title-time{
    overflow: hidden;
}

.title-time p{
    float: right;
    font-size: 10px;
    color: #232323;
    margin: 0px;
    font-weight: normal;
}

.card-item-header .titles h3{
    font-size: 13px !important;
    margin-bottom: 6px !important;
    float: left;
}

.nav-pills .nav-link{
    font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #323232 !important;
    font-weight: normal;
}

.card-item-header{
    padding: 10px 0 !important;
}