.breadcrumb-list{

}
.breadcrumb-list li {
    display: inline-block;
    padding: 10px 5px;
}

.breadcrumb-list li+ li::before{
    content: "/";
    margin-right: 10px
}

.breadcrumb-list li a{
    text-decoration: none;
    color: #6195FF;
    text-transform: capitalize
}

.post-jop .post-jop-heading {
    margin: 27px 0;
}

@media (max-width:1199px){
    .jop-budget::after{
        right: 110px !important;
        top: 46px !important;
    }
    .other-days{
        margin-top: 15px !important;
        /* margin-left: 5px !important;  */
    }
}

@media (max-width:767px){
    /* .post-jop h3 { */
        /* margin: 18px 0; */
    /* } */
    .post-jop .post-jop-box{
        padding: 20px !important;
        /* height: 810px !important; */
    }
    .jop-budget::after{
        right: 20px !important;
        top: 40px !important;
    }
    .jop-deliverd .btn.btn-primary{
        height: 34px !important;
        line-height: 22px;
        padding: 5px !important;
        width: 58px !important;
        /* margin: 0 4px !important; */
        font-size: 9px !important;
    }
    .other-days{
        width: 100% !important;
        height: 34px !important;
    }
    .other-days span{
        height: 33px !important;
        font-size: 10px !important;
        padding: 5px !important;
    }
    .btns{
        margin-top: 35px !important;
    }
    .btns button{
        width: 100px !important;
        height: 40px !important;
        font-size: 13px !important;
    }
    .jop-budget input,
    .jop-title input{
        width: 100% !important;
        height: 40px !important;
    }

    .jop-budget .content{
        width: 100% !important;
    }

    .jop-budget .content img{
        top: 40px !important;
    }
    
    .jop-category select{
        height: 40px;
    }
}

.post-jop-box label{
    font-size: 12px;
    color: #323232;
    text-transform: capitalize;
}

.post-jop-box input:focus,
.post-jop-box textarea:focus{
    border-color: #DBDBDB;
}


.post-jop .post-jop-box{
    height: 984px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000011;
    border-radius: 5px;
    padding: 52px 224px 36px 52px;;
}

.input-group.mb-3 .custom-file img{
    z-index: 999;
    margin-left: 15px;
    margin-top: 5px;
}

.custom-file-label{
    padding-left: 50px !important;
    width: 146px;
    height: 42px;
    font-size: 12px;
    padding-top: 12px !important; 
    cursor: pointer;
    background: #ECEBF3;
    color: #323232
}

.custom-file-label::after{
    visibility: hidden !important;
}

.jop-category{
    margin-top: 41px;
}

.jop-category::after{
    content: "";
    display: block;
    height: 1px;
    background: #ECEBF3;
    margin-top: 35px;
}

.jop-category .custom-select-lg{
    width: 100%
}

.jop-budget{
    position: relative;
}

.jop-budget .content{
    position: relative;
    width: 288px;
}

.jop-budget .content img{
    position: absolute;
    right: 10px;
    top: 45px;
}

.jop-budget input{
    width: 288px;
}

/* .jop-budget::after{
    content: "$";
    position: absolute;
    right: 283px;
    top: 47px;
    font-size: 16px;
    color: #323232;
} */

.jop-deliverd input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; 
}

.jop-deliverd .btn.btn-primary{
    color: #323232;
    background-color: #ffffff;
    border-color: #ccc;
    height: 42px;
    padding-top: 10px;
    width: 90px;
    margin: 0 4px;
    font-size: 12px;
    border-radius: 4px;
}

.jop-deliverd .btn.btn-primary:first-of-type{

    margin-left: 0 ;

}


.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle{
    background-color: #FF5851;
    color: #fff;
    border-color: #FF5851;
}

.btn-primary.focus, .btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(242, 244, 247, 0.5);
}

.other-days{
    width: 235px;
    height: 42px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CECECE;
    border-radius: 4px;
    position: relative;
    float: left;
}

.post-jop-box .btn-group{
    float: left;
}

.other-days input{
    height: 100%;
}

.other-days span{
    position: absolute;
    right: 0;
    background: #ccc;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    width: 57px;
    text-align: center;
    color: #323232;
}

.btns{
    margin-top: 50px;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus{
    box-shadow: 0 0 0 0.2rem rgba(242, 244, 245, 0.5);
}

button.submit{
    width: 156px;
    height: 48px;
    background: #FF5851 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    border-color: #ccc;
    margin-right: 16px;
}

button.submit:hover{
    color: #fff;
    background-color: #FF5851;
    border-color: #FF5851;
}

button.draft{
    width: 156px;
    height: 48px;
    background: #CECECE 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border-color: #ccc;
}

button.draft:hover{
    color: #fff;
    background-color: #CECECE;
    border-color: #CECECE;
}

/* remove arrows from input type number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


/* select arrow */


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.post-jop-box .styled-select{
    position: relative;
}

.post-jop-box .styled-select img{
    position: absolute;
    right: 15px;
    top: 20px;
}



/* .post-jop-box .other-days{
    float: left;
} */




