@media (min-width:768px){
    .wt-loginarea{
        margin: 20px 0;
    }
}
.wt-userlogedin{
    display: block;
    border: 1px solid #ECEBF3;
    border-radius: 4px;
    padding: 5px 13px;
}

@media (max-width:357px){
    .wt-loginarea .nav-item {
        padding: 10px 6px;
    }
    .nav-item:last-of-type{
        margin-right: 5px;
    }
}
/* @media (min-width:358px){
    .wt-loginarea .nav-item:first-of-type{
        padding: 9px 13px;
    }
    .nav-item:last-of-type{
        margin-right: 5px;
    }
}
.wt-loginarea .nav-item{
    display: inline-block;
    border: 1px solid #ECEBF3;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    background-color: #F8F9FD;
} */



/* .notifiaction-dot{
    width: 10px;
    height: 10px;
    background: #FF5851 0% 0% no-repeat padding-box;
    border: 3px solid #FFFFFF;
    position: absolute;
    border-radius: 50%;
    z-index: 999;
    top: 12px;
    left: 11px;
} */

/* start content */
.dashborad-content{
    padding: 45px 0;
    background: #F9F9F9;
}

.search p{
    color: #323232;
    text-transform: capitalize;
    font-family: Poppins;
    font-size: 14px;
    float: left;
}
.search .view{
    float: right;
    color: #0187E0;
    font-size: 10px;
}

@media (min-width:768px){
    .search .wt-formtheme{
        width: 100%;
    }
}

.search .wt-formtheme{
    margin: 0;
    background-color: #fff;
}

@media (min-width:768px){
    .wt-formbanner fieldset .form-group .form-control{
        width: 50%;
    }
}


@media (max-width:767px){
    .wt-formbanner fieldset .form-group{
        padding-bottom: 15px;
    }
}

@media (min-width:768px){
    .wt-formbanner fieldset .form-group .form-control{
        border-right: 1px solid #ddd;
    }
}
.wt-formbanner fieldset .form-group .form-control{
    height: 64px;
    border: 0;
    padding: 10px 55px;
    border-radius: unset;
    border-right: 1px solid #ccc;
}



.wt-formbanner fieldset .form-group .picker,
.wt-formbanner fieldset .form-group .glass{
    position: absolute;
    top: 26px;
    left: 26px;
    cursor: pointer;
}

/* input.form-control{
    padding: 0;
} */
@media (min-width:768px){
    .wt-formoptions{
        width: 50%;
    }
}

/* @media (max-width:767px){
    .wt-formoptions{
        width: 50%;
    }
} */


.wt-formoptions span{
    margin-top: 10px;
    color: #767676;
}

.wt-formoptions .wt-searchbtn{
    width: 100px;
    height: 40px;
    top: 13px;
    line-height: 40px;
}

.postJop{
    width: 156px;
    height: 48px;
    display: block;
    background: #FF5851 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    color: #FFFFFF;
    border-radius: 4px;
    text-transform: capitalize;
    outline: 0;
    margin-top: 36px;
    text-align: center;
    line-height: 48px;
}

.postJop:hover{
    color: #fff;
}

.postJop:focus{
    outline: none;
}

@media (min-width:768px){
    .project-details{
        width: 100%;
    }
}
.project-details{
    background-color: #fff;
    height: 295px;
    box-shadow: 0px 3px 6px #00000012;
    border-radius: 5px;
    margin-top: 23px;
}

.project-details h4{
    padding: 20px;
    border-bottom: 1px solid #ECEBF3;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
}



@media (min-width:768px){
    .details-item{
        font-size: 12px;
        margin: 28px;
        overflow: hidden;
    }
}

@media (max-width:767px){
    .details-item{
        font-size: 10px;
        margin: 15px;
        overflow: hidden;
    }
}

.details-item .text{
    float: left;
}
.details-item .num{
    float: right;
    position: relative;
}

.details-item .num .notifiaction-dot{
    position: absolute;
    left: -13px;
    top: 8px;
}

.project-sample{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000011;
    border-radius: 5px;
}
.project-sample .project-header .project-header-info .padge{
    width: 74px;
    height: 24px;
    float: left;
    display: block;
    color: #323232;
    font-size: 10px;
    background: #FF5851 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 0.5;
    padding: 0 18px;
    margin-right: 15px;
}
.project-sample .project-header .project-header-info{
    float: left;
}

.project-sample .project-title{
    font-size: 12px;
}

.project-sample .project-header img{
    float: right;
    cursor: pointer;
}

.project-sample .time{
    overflow: hidden; 
}

.project-sample .project-header{
    overflow: hidden;
}
.project-sample p{
    padding-right: 58px;
}

.keywords span{
    width: 76px;
    height: 26px;
    display: inline-block;
    background: #ECEBF3 0% 0% no-repeat padding-box;
    border: 1px solid #CECECE;
    border-radius: 2px;
    font-size: 10px;
    text-align: center;
    margin-right: 12px;
}

@media (min-width:768px){
    .project-sample{
        width: 100%;
        height: 224px;
        padding: 20px;
        margin: 24px 0;
    }

    .project-sample .time{
        font-size: 12px;
    }
    
    .time .posted-time{
        float: left;
        margin-right: 30px;
    }

    .time img{
        margin-right: 6px;
    }

    .time .posted-time span:last-of-type
    {
        margin-left: 15px;
    }

    .time .offer{
        float: left;
        margin-left: 37px;
    }
    .project-sample > p{
        font-size: 13px;
        color: #767676;
        margin: 10px 0;
    }


}

@media (max-width:767px){
    .project-sample{
        padding: 20px;
        margin: 24px 0;
    }
    .project-sample .time{
        font-size: 10px;
    }
    
    .time .posted-time{
        float: left;
        margin-right: 30px;
    }

    .time img{
        margin-right: 6px;
    }

    .time .posted-time span:last-of-type
    {
        margin-left: 15px;
    }

    .time .offer{
        float: left;
        margin-left: 37px;
    }
    @media (max-width:320px){
        .time .offer{
            margin-left: 0;
        } 
    }
    .project-sample > p{
        font-size: 10px;
        color: #767676;
        margin: 10px 0;
    }
    .desktop-msgs{
        display: none !important;
    }

    /* modal */
    .modal-backdrop {
        background-color: transparent;
        z-index: -1;
    }
    .modal-content{
        top: 120px !important;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 10px #00000027
    }

    .modal-body .item{
        height: 60px;
        opacity: 1;
        padding: 10px;
        overflow: hidden;
        padding-left: 48px;
        border-bottom: 1px solid #ECEBF3;
        width: 100%;
        display: block;
    }
}




/* pending messages */
.pending-msg{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000012;
    border-radius: 5px;
    opacity: 1;
}

@media (min-width:1200px){
    .pending-msg{
        width: 368px;
    }
}
@media (min-width:768px){
    .pending-msg{
        /* width: 368px; */
        height: 550px;
        padding-top: 30px;
    }
    
    .pending-msg .details-item:first-of-type{
        margin-top: 0;
    }
    .mobile-msgs{
        display: none !important;
    }
}

@media (max-width:767px){
    .pending-msg{
        padding: 25px 0;
        padding-top: 20px;
    }
    
    .pending-msg .details-item:first-of-type{
        /* margin-top: 0; */
    }
}

/* end content */
