






.wt-formtheme .form-group .wt-formoptions .wt-dropdown{
    border-right: 1px solid #ccc;
    height: 64px;
    
}



.wt-formtheme .form-group .wt-horly-rate{
    overflow: hidden;
    padding-left: 15px;
}

.wt-formtheme .form-group .wt-horly-rate input{
    padding: 10px;
    border: 0;
}



@media (min-width:1200px){
    .wt-formtheme .form-group .wt-formoptions{
        width: 843px !important;
    }
    .wt-formtheme .form-group input{
        width: 268px !important;
    }
    .wt-formtheme .form-group .wt-radioholder{
        width: 292px !important;
    }
    .wt-formtheme .form-group .wt-formoptions .wt-dropdown{
        width: 293px
    }
    .wt-formtheme .form-group .wt-formoptions .wt-dropdown span{
        padding: 0px 13px 0 0px !important;
    }
}

@media (max-width:767px){
    .wt-horly-rate{
        position: relative;
    }
    .wt-horly-rate img{
        position: absolute;
        top: 23px;
        left: 23px;
    }
    .wt-horly-rate input{
        padding-left: 50px !important;
    }
}

@media (min-width:768px) and (max-width:1199px){
    .wt-formtheme .wt-formbanner .wt-formbannervtwo .form-group input{
        width: 27% !important;
        font-size: 12px !important;
    }
    .wt-formtheme .wt-formbanner .wt-formbannervtwo .wt-formoptions{
        width: 73% !important;
        font-size: 12px !important ; 
    }
}

.cards-header{
    margin: 59px 0 29px;
}

.cards-header a{
    color: #0187E0;
    float: right;
    font-size: 12px;
}

.card{
    /* width: 322px; */
    height: 390px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000011;
    border-radius: 8px;
    padding: 30px 0 30px 30px;
}

.card-item-header{
    overflow: hidden;
}
.card-item-header .img-container{
    float: left;
}

.card-item-header .img-container img{
    height: 73px;
    width: 73px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #EEF;
}

.card-item-header .titles{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.card-item-header .titles h3{
    font-size: 16px;
}

.card-item-header .titles span{
    font-size: 12px;
    display: block;
    margin-top: 4px;
}

.stars{
    margin-top: 23px;
}

.stars span{
    font-size: 25px;
    color: #FF6565;
}

.stars .notactive{
    color: #ECEBF3 !important;
}

.card-item-content .desc {
    overflow: hidden;
    margin-top: 21px;
}

.card-item-content .desc span{
    float: left;
    margin-right: 10px;
    font-size: 20px;
}
.jop-desc h4{
    color: #000000;
    font-size: 16px;
    font-weight: normal;
}
.jop-desc .keywords span{
    width: 76px;
    height: 26px;
    display: inline-block;
    background: #ECEBF3 0% 0% no-repeat padding-box;
    border: 1px solid #CECECE;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    margin-right: 12px;
}

.card-item-content .btn-container{
    text-align: center;
}

.card-item-content a{
    width: 109px;
    height: 38px;
    background: #FF5851 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    color: #fff;
    margin: 18px auto 0;
    font-size: 14px;
    display: block;
    line-height: 38px;
}

.card-item-content button:focus{
    outline: none;
}


@media (max-width:767px){
    .card{
        margin-bottom: 15px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .card{
        margin-bottom: 20px;
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .wt-formbanner fieldset .form-group .form-control.looking{
        width: 29% !important;
        font-size: 11px !important;
        padding: 3px 20px 0 44px !important;
    }
    .wt-formoptions{
        width: 71% !important;
    }
    .wt-formbanner fieldset .form-group .picker, .wt-formbanner fieldset .form-group .glass{
        left: 15px
    }
    .wt-dropdown > span{
        padding: 0 15px 0 40px;
    }
    .wt-horly-rate input{
        padding: 3px 0px 0 9px !important;
    }
}

/* .card-item-content .desc:after{
    content: "";
    display: block;
    background: #eee;
    height: 1px;
    margin-top: 15px;
} */