.wt-formbanner fieldset .form-group a{
    position: absolute;
    right: 28px;
    top: 5px;
    border: 1px solid #FF5851;
    border-radius: 2px;
}

.wt-formbanner fieldset .form-group{
    box-shadow: 0px 3px 6px #00000011;
}

.wt-navigation > ul > li > a{
    width: 125px;
}

.wt-categorycontent{
    margin-bottom: 30px;
}


@media (max-width: 767px){
    .wt-loginarea {
        margin: 22px 0 !important;
    }
    .wt-loginarea .wt-loginbtn{
        margin-right: 5px !important;
    }
    .wt-loginarea li{
        padding-right: 10px !important;
    }
    .wt-loginoption{
        padding-left: 10px;
    }
    .wt-bannercontent .wt-title h1{
        font-size: 25px !important;
    }
    .wt-bannercontent{
        padding: 63px 0 50px !important;
    }
}