/* notification */
.dropdown-toggle::after{
    display: none !important;
}

.dropdown button{
    height: 46px;
    background-color: #F8F9FD;
}

.dropdown button:focus{
    box-shadow: 0 0 0 0.2rem transparent;
}

.dropdown-menu{
    top: 40px !important;
    left: -215px !important;
    width: 460px;
    height: 430px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000027;
    opacity: 1;
    position: relative;
}

/* .dropdown-menu.msgs{
    left: -409px !important;
} */

.dropdown-menu::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    left: 79%;
    top: -20px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.dropdown-menu .item{
    height: 60px;
    opacity: 1;
    padding: 10px;
    overflow: hidden;
    padding-left: 48px;
    border-bottom: 1px solid #ECEBF3
}

/* .dropdown-menu .item::after{
    content: "";
    display: block;
    background-color: #ccc;
    height: 1px;
} */

.dropdown-menu .item:hover{
    background: #F6F6F6 0% 0% no-repeat padding-box;
}

.item .img-container{
    float: left;
    margin-right: 14px;
}

.item .img-container img{ 
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.item .titles{
    float: left;
}

.item .titles {
    float: left;
}

.item .titles .head  {
    margin-bottom: -4px;
    font-size: 12px;
    color: #707070;
}

.item .titles .head .name  {
    font-weight: bold;
}

.item .titles .time  {
    font-size: 10px;
}

.dropdown-menu .dropdown-title{
    padding: 17px 0 17px 41px;
}

.dropdown-menu .showall{
    text-align: center;
    padding: 18px 0;
    font-size: 12px;
    color: #707070;
}


.wt-loginarea .nav-item a:hover{
    color: #707070 !important;
}
/* notification */


/* ---- */
@media (min-width:358px){
    .wt-loginarea .nav-item:first-of-type{
        padding: 9px 13px;
    }
    .nav-item:last-of-type{
        margin-right: 5px;
    }
}
.wt-loginarea .nav-item{
    display: inline-block;
    border: 1px solid #ECEBF3;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    background-color: #F8F9FD;
}

.notifiaction-dot{
    width: 10px;
    height: 10px;
    background: #FF5851 0% 0% no-repeat padding-box;
    border: 3px solid #FFFFFF;
    position: absolute;
    border-radius: 50%;
    z-index: 999;
    top: 12px;
    left: 11px;
}


@media (min-width:576px) and (max-width:992px){
    .dropdown-menu{
        left: -220px !important;
        width: 307px !important;
    }
    .dropdown-menu .dropdown-title{
        padding: 17px 0 17px 27px !important;
    }
    .dropdown-menu .item{
        padding-left: 30px !important;
    }
}

@media (max-width:575px){
    .dropdown-menu{
        left: -75px !important;
        width: 243px !important;
    }

    .dropdown-menu .dropdown-title {
        padding: 10px 0 10px 25px !important;
    }
    .dropdown-menu .item{
        padding-left: 20px;
    }
}


.dropdown-menu.msgs{
    width: 1097px !important;
    /* left: -481px !important; */
    top: 64px !important;
    box-shadow: -7.55px 7px 30px #F1F8FFB3;
    border-radius: 20px;
}

.dropdown-menu.msgs::before{
    display: none;
}