.projects-content{
    padding: 65px 0;
}

.tab-content{
    width: 853px;
    height: 1176px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000011;
    border-radius: 0px 5px 5px 5px;
    padding: 69px 125px 42px;
}

.project-sample{
    border: 1px solid #CECECE;
}
.project-sample .project-title{
    color: #323232;
    text-transform: capitalize;
    font-family: Poppins;
    /* font-size: 14px; */
    float: left;
}

.project-sample:first-of-type{
    margin-top: 0;
}

.project-sample .p-padge{
    width: 74px;
    height: 24px;
    border-radius: 14px;
    color: #323232;
    text-transform: capitalize;
    font-size: 10px;
    float: left;
    opacity: 0.5;
    text-align: center;
    margin-right: 15px;
}

.project-sample .p-padge.active{
    background: #23D535 0% 0% no-repeat padding-box;
}

.project-sample .p-padge.refused{
    background: #ECEBF3 0% 0% no-repeat padding-box;
}

.project-sample .p-padge.draft{
    background: #767676 0% 0% no-repeat padding-box;
    color: #fff;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #ff5851;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color: #636161;
    text-transform: capitalize;
}

@media (max-width:992px){
    .tab-content{
        width: 100% !important;
        height: 100% !important;
        padding: 20px 0 !important;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
        font-size: 10px !important;
        padding: 10px !important;
    }
}