.post-jop .post-jop-box{
    height: 1176px !important;
}

.post-jop-box .project-assignee p{
    text-transform: capitalize;
    font-size: 14px;
    color: #232323;
    font-weight: bold;
}

.project-assignee-info{
    width: 737px;
    height: 114px;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 20px 30px;
}


.card-item-header .titles span{
    display: inline-block !important;
    margin: 0 8px !important;
}

.card-item-header .titles span:first-of-type{
    margin-left: 0 !important;
}

hr{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

@media (max-width: 1199px){
    .project-assignee-info{
        height: 206px !important;
        width: 100% !important;
    }
    .post-jop .post-jop-box{
        padding: 52px 209px 36px 52px !important;
        height: 1286px !important;
    } 
}

@media (min-width:768px) and (max-width: 1199px){
    .post-jop .post-jop-box{
        padding: 52px 209px 36px 52px !important;
    }
}

@media (max-width:767px){
    .post-jop .post-jop-box{
        padding: 35px !important;
    }
    .project-assignee-info{
        height: 100% !important;
        width: 100% !important;
    }
    .card-item-header .titles span{
        display: block !important;
        margin: 4px 0 !important ;
    }
    .card-item-header .img-container,
    .card-item-header .titles{
        float: unset;
    }
}
